<div class="container">
  <h2 class="font p-3">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <table class="table bg-white border rounded">

      <tr class="field">
        <th><%= f.label :"名前" %></th>
        <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
        <td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"名前（カタカナ）" %></th>
        <td><%= f.text_field :kana_last_name, autocomplete: "kana_last_name" %></td>
        <td><%= f.text_field :kana_first_name, autocomplete: "kana_first_name" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"住所" %></th>
        <td colspan="2"><%= f.text_field :address, autocomplete: "address" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"連絡先" %></th>
        <td colspan="2"><%= f.text_field :phone_number, autocomplete: "phone_number" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"メールアドレス" %></th>
        <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"アカウント名" %></th>
        <td colspan="2"><%= f.text_field :account_name, autocomplete: "account_name" %></td>
      </tr>

      <tr class="field">
        <th><%= f.label :"パスワード" %></th>
        <td colspan="2">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>

      <tr class="field">
        <th><%= f.label :"パスワード・再確認" %></th>
        <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>

    <div class="actions m-5">
      <%= f.submit "登録する", class: 'btn-sm btn-info border rounded w-25' %>
      <div class="m-5 btn btn-success border roundeded w-25">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>


</div>
