
<% if users.exists? %>

  <% users.each do |user| %>
    <% if current_user.following?(user) %>
      <div>
        <%= attachment_image_tag user, :account_image, size: "80x80", class: 'rounded-circle', fallback: "icon.jpeg" %>
        <%= link_to "フォローを解除する", user_relationships_path(user.id), method: :delete %>
        <%= link_to "チャットする", chat_path(user.id) %><br />
        <%= user.account_name %>
      </div>

    <% else %>
      <div>
        <%= attachment_image_tag user, :account_image, size: "80x80", class: 'rounded-circle', fallback: "icon.jpeg" %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post %><br />
        <%= user.account_name %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <p class="nothing">ユーザーがいません。</p>
<% end %>