<h3><%= "#{@chat_partner.account_name}" + "　さんとのチャットルームです" %></h3>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div id="chats">
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <div class="mymessage">
            <p><%= chat.message %></p>
          </div>
        <% else %>
          <div class="partnermessage">
            <p><%= chat.message %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <%= form_with model:@message do |f| %>
      <%= f.text_field :message %>
      <%#= f.hidden_field :message %>
      <%= f.submit '送信' %>
    <% end %>
    <!--  
    <form id="send-form">
      <input type="text" id="message" plaseholder="入力欄" style="width:30%;">
      <input type="submit" value="送信" id="send">
      <input id="current_user_id" type="hidden" value= "<%#= current_user.id %>">
      <input id="partner_id" type="hidden" value= "<%#= @chat_partner.id %>">
    </form>
    -->
  </div>
  <div class="col-2"></div>
</div>