<div class="top_container">
  <div id="image"><!--画像時間によってスライドさせる-->
    <div style="background-image"><%= image_tag 'dog1.jpg' %></div>
    <div style="background-image"><%= image_tag 'cat1.jpg' %></div>
    <div style="background-image"><%= image_tag 'dogs.jpg' %></div>
  </div>
</div>


<div class="top-main height:500px bg-white">
  <h1 class="title p-5 h-100">まよほご掲示板</h1>

  <p class="font">いなくなってしまったペットの情報や</br>
     保護した動物の情報を持ち寄ろう
  </p>
  

  <% if user_signed_in? %>
    <div>
      <%= link_to "新規投稿", new_post_path, class: 'btn btn-primary w-50 m-5' %>
    </div>
  <% else %>
    <div>
      <%= link_to "初めての方( 会員登録 )", new_user_registration_path, class: 'btn btn-info w-25 m-5' %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-success w-25 m-5' %>
    </div>
  <% end %>

</div>
<div class="post_image post mt-5 mb-5 bg-white">
  <h3 class="title border-bottom">捜索投稿</h3>
  <%= render 'posts/list', posts: @search_post %>
  <div class="more"><%= link_to "もっと見る >>", search_path %></div>
  <h3 class="title border-bottom">保護投稿</h3>
  <%= render 'posts/list', posts: @protect_post %>
  <div class="more"><%= link_to "もっと見る >>", protect_path %></div>
</div>
