<div class="container">
  <h2 class="font p-3">ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <table class="table bg-white border rounded">
    <tr>
      <th><%= f.label :email %></th>
      <td> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    
    <tr>
      <td></td>
      <td>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
  
  <div class="actions m-5">
      <div class="btn btn-info border rounded">
        <%= render "devise/shared/links" %>
      </div>
      <%= f.submit "Log in", class: 'btn btn-success border rounded w-25' %>
  </div>
  
  <% end %>
</div>
