<!--記事投稿入力画面--->

<div class="form-container border rounded m-5">

  <%= form_with model: post, local: true do |f| %>

  <table class="table">
    <tr>
      <th></th>
      <td>
        <%= f.radio_button :category, :'捜索中' %>
        <%= f.label :category_捜索中, '捜索中' %>
        <%= f.radio_button :category, :'保護中' %>
        <%= f.label :category_保護中, '保護中' %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.radio_button :animal, :'犬' %>
        <%= f.label :animal_犬, '犬' %>
        <%= f.radio_button :animal, :'猫' %>
        <%= f.label :animal_猫, '猫' %>
        <%= f.radio_button :animal, :'その他' %>
        <%= f.label :animal_その他, 'その他' %>
      </td>
    </tr>
    <tr>
      <th>いなくなった・保護した 場所</th>
      <td>
        <%= f.text_field :plase, size: 40, placeholder: '○○県　○○市' %>
      </td>
    </tr>
    <tr>
      <th>写真 (複数選べます)</th>
      <td>
        <%= f.attachment_field :post_images_images, multiple: true %>
      </td>
    </tr>
    <tr>
      <th>名前</th>
      <td>
        <%= f.text_field :pet_name %>
      </td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        <%= f.radio_button :pet_sex, :'オス'%>
        <%= f.label :pet_sex, 'オス' %>
        <%= f.radio_button :pet_sex, :'メス' %>
        <%= f.label :pet_sex, 'メス' %>
        <%= f.radio_button :pet_sex, :'不明' %>
        <%= f.label :pet_sex, '不明' %>
      </td>
    </tr>
    <tr>
      <th>性格や特徴</th>
      <td>
        <%= f.text_area :text, size: "60x10", placeholder: '特徴や性格、様子などを書きましょう' %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= f.submit '投稿', class: 'btn btn-primary m-5 w-25' %>
      </td>
    </tr>
  </table>
  <% end %>
</div>