<div class="container">
  <h2>新規投稿</h2>
  <%= form_with model: @post, local:true do |f| %>

    <h4>捜索 or 保護</h4>


    <h4>いなくなったor保護した　場所</h4>
    <%= f.text_field :plase %>

    <h4>画像</h4>
    <%#= f.attachment_field :post_image_id %>

    <h4>名前</h4>
    <%= f.text_field :pet_name %>

    <h4>性別</h4>

    <h4>性格や特徴</h4>
    <%= f.text_area :text %>

    <%= f.submit '投稿' %>
  <% end %>
</div>