<div class="">
  <%= render 'posts/retrieval', keyword: @keyword %>
  <%= link_to new_post_path do %><i class="fas fa-plus-circle">投稿する</i><% end %>
</div>



<div class="cintainer">
  <h2 class="title">検索結果 <span>"<%= @keyword %>"</span></h2>

  <!--検索結果-->
  <h3 class="border-bottom title">捜索</h3>
  <%= render 'posts/list', posts: @search_posts %>
  <h3 class="border-bottom title">保護</h3>
   <%= render 'posts/list', posts: @protect_posts %>
</div>