<div class="top-content mt-3">
  <%= render 'posts/retrieval', keyword: @keyword %>
  <%= link_to new_post_path, class: 'btn btn-light m-2' do %>
    <i class="fas fa-plus-circle"> 投稿する</i>
  <% end %>
</div>



<div class="cintainer p-5">
  <h2 class="font">検索結果 <span >"<%= @keyword %>"</span></h2>

  <!--検索結果-->
  <div class="bg-white border rounded w-100">
    <h3 class="border-bottom title">捜索投稿</h3>
    <%= render 'posts/list', posts: @search_posts %>
    <h3 class="border-bottom title">保護投稿</h3>
    <%= render 'posts/list', posts: @protect_posts %>
  </div>
</div>