<h3>投稿詳細画面</h3>

<div class="container">
  <div>
    <div class="row">
      <div class="col-3">
        <%= render 'users/info', user: @post.user %>
      </div>
      <div class="col-4">
        <% if @post.post_images.present? %>
          <% @post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, class: 'rounded', size: "200x200" %>
          <% end %>
        <% else %>
          <%= image_tag '', size: '200x200' %>
          <%= attachment_image_tag @user, :account_image, size: "60x60", fallback: "icon.jpeg" %>
        <% end %>
      </div>
      <div class="col=5 bg-white border rounded">
        <div>
          <% if @post.user == current_user %>
            <%= link_to '編集', edit_post_path(@post) %>/
            <%= link_to '削除', post_path(@post), method: :delete %>
          <% end %>
        </div>
        <%= @post.category_i18n %>
        <%= @post.animal_i18n %><br />
        <%= @post.pet_sex_i18n %><br />
        <%= @post.pet_name %><br />
        <%= @post.text %><br />
        <%= @post.user.account_name %>
        <div id="favorites_buttons_<%= @post.id %>">
          <%= render 'favorites/favorite', post: @post %>
        </div>
      </div>
    </div>
   

  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <div class="comment_index">
        <% @post.comments.each do |post_comment| %>
          <div>
            <%= post_comment.comment %>
            <%= post_comment.user.account_name %>
            <% if post_comment.user == current_user %>
              <div>
                <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>



      <div class="comment">
        <%= form_with(model:[@post, @comment]) do |comment| %>
          <%= comment.text_area :comment, size: '30x2', class: 'border rounded', placeholder: "コメント欄" %>
          <%= comment.submit "送信", class: 'btn-sm btn-primary border rounded' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
